<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>arbiterversion</key>
        <string>1</string>
        <key>endpointid</key>
        <string>8bc171da-d9a3-45a5-923a-d7c094ea5973</string>
    </dict>
</plist>
